C 0 0 "DSG" 0 0 0 0 60 0 L
X "PIN_TEXT" "DSG" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "CHG" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CHG" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "VSS" 0 -200 0 0 60 0 L
X "PIN_TEXT" "VSS" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "SDA" 0 -300 0 0 60 0 L
X "PIN_TEXT" "SDA" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "SCL" 0 -400 0 0 60 0 L
X "PIN_TEXT" "SCL" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "TS1" 0 -500 0 0 60 0 L
X "PIN_TEXT" "TS1" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "CAP1" 0 -600 0 0 60 0 L
X "PIN_TEXT" "CAP1" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "REGOUT" 0 -700 0 0 60 0 L
X "PIN_TEXT" "REGOUT" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "REGSRC" 0 -800 0 0 60 0 L
X "PIN_TEXT" "REGSRC" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "BAT" 0 -900 0 0 60 0 L
X "PIN_TEXT" "BAT" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 1300 0 "ALERT" 1300 0 0 0 60 0 R
X "PIN_TEXT" "ALERT" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "SRN" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "SRN" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "SRP" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "SRP" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "VC0" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "VC0" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "VC1" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "VC1" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 1300 -500 "VC2" 1300 -500 0 0 60 0 R
X "PIN_TEXT" "VC2" 1070 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -500 1300 -500 -1 0
C 1300 -600 "VC3" 1300 -600 0 0 60 0 R
X "PIN_TEXT" "VC3" 1070 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -600 1300 -600 -1 0
C 1300 -700 "VC4" 1300 -700 0 0 60 0 R
X "PIN_TEXT" "VC4" 1070 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -700 1300 -700 -1 0
C 1300 -800 "VC5" 1300 -800 0 0 60 0 R
X "PIN_TEXT" "VC5" 1070 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -800 1300 -800 -1 0
C 1300 -900 "NC" 1300 -900 0 0 60 0 R
X "PIN_TEXT" "NC" 1070 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -900 1300 -900 -1 0
L 200 100 1100 100 -1 0
L 1100 -1000 1100 100 -1 0
L 1100 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

